body {
    background-color: #0073E6;
    margin-left: 50px;
    margin-top: 50px;
}

p {
    color: #ffffff;
}

.white{
    color: #000000;
    text-decoration: none;
}

.searchBox{
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ffffff;
    border-radius: 10px;
}

.box {
    background-color: #ffffff;
    color: #000000;
}